*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: black;
    padding: 20px;
    color: white;
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 125px;
}
.menus{
    display: flex;

}
.item{
    margin-right: 10px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
}
.item:hover{
    color: gold;
}
.banner-img{
    width: 300px;
}
.banner-container{
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    border: 2px solid grey;
    background-image: url("./images/background.png"),linear-gradient(45deg,#101010,#464646);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.title{
    font-size: 55px;
    font-weight: bold;
    
}
.banner-text{
    color: white;
}
.description{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
}
.btn{
    padding: 10px 15px;
    background-color: indigo;
    color: white;
    cursor: pointer;
}
.btn:hover{
    color: greenyellow;
    
}
